.cm-s-jsfiddle {
	font-size: 0.8em;
	line-height: 1.5em;
	font-family: "SF Mono","Monaco","Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	background: #20262e;
	color: #ccc;
}
.cm-s-jsfiddle .cm-comment
{
  color: #d27b53 !important;
}

.cm-s-jsfiddle .cm-atom
{
  color: #a16a94 !important;
}

.cm-s-jsfiddle .cm-number
{
  color: #a16a94 !important;
}

.cm-s-jsfiddle .cm-property,.cm-s-jsfiddle .cm-attribute
{
  color: #9c9 !important;
}

.cm-s-jsfiddle .cm-keyword
{
  color: #f2777a !important;
}

.cm-s-jsfiddle .cm-string
{
  color: #fc6 !important;
}

.cm-s-jsfiddle .cm-variable
{
  color: #9c9 !important;
}

.cm-s-jsfiddle .cm-variable-2
{
  color: #69c !important;
}

.cm-s-jsfiddle .cm-def
{
  color: #f99157 !important;
}

.cm-s-jsfiddle .cm-bracket
{
  color: #ccc !important;
}

.cm-s-jsfiddle .cm-tag
{
  color: #f2777a !important;
}

.cm-s-jsfiddle .cm-link
{
  color: #a16a94 !important;
}

.cm-s-jsfiddle .cm-error
{
  background: #f2777a;
  color: #6a6a6a !important;
}

.cm-s-jsfiddle .cm-string-2
{
  color: #f96 !important;
}

.cm-s-jsfiddle .cm-qualifier,.cm-s-jsfiddle .cm-operator,.cm-s-jsfiddle .cm-builtin
{
  color: #FFF !important;
}

.cm-s-jsfiddle .cm-meta
{
  color: #c5c5c5 !important;
}

.cm-s-jsfiddle .CodeMirror-gutters
{
  background: rgba(0,0,0,0.2);
  border-right: 0;
  padding-right: 4px;
}

.cm-s-jsfiddle .CodeMirror-cursor
{
  border-left: 1px solid #6a6a6a !important;
}

.cm-s-jsfiddle .CodeMirror-lines div:first-child div:nth-child(3) div:nth-child(odd) pre
{
  background: rgba(0,0,0,0.2) !important;
}

.cm-s-jsfiddle div.CodeMirror-selected
{
  background: #000 !important;
}

div.CodeMirror span.CodeMirror-matchingbracket
{
  text-decoration: underline;
  color: white !important;
}