.cm-s-OneDark {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: 350;
  font-size: 18px;
  color: #abb2bf;
	background-color: #282c34;
	line-height: 26px;
}
.cm-s-OneDark .CodeMirror-selected {background-color: #3e4451;}
.cm-s-OneDark .CodeMirror-gutter,
.cm-s-OneDark .CodeMirror-gutters {
  border: none;
  background-color: #282c34;
}
.cm-s-OneDark .CodeMirror-linenumber,
.cm-s-OneDark .CodeMirror-linenumbers {
  color: #5c6370 !important;
  background-color: transparent;
}
.cm-s-OneDark .CodeMirror-lines {
  color: #abb2bf !important;
  background-color: transparent;
}
.cm-s-OneDark .CodeMirror-cursor {border-left: 2px solid #56b6c2 !important;}
/* addon: edit/machingbrackets.js & addon: edit/matchtags.js */
.cm-s-OneDark .CodeMirror-matchingbracket,
.cm-s-OneDark .CodeMirror-matchingtag {
  border-bottom: 2px solid #56b6c2;
  color: #abb2bf !important;
  background-color: transparent;
}
.cm-s-OneDark .CodeMirror-nonmatchingbracket {
  border-bottom: 2px solid #e06c75;
  color: #abb2bf !important;
  background-color: transparent;
}
/* addon: fold/foldgutter.js */
.cm-s-OneDark .CodeMirror-foldmarker,
.cm-s-OneDark .CodeMirror-foldgutter,
.cm-s-OneDark .CodeMirror-foldgutter-open,
.cm-s-OneDark .CodeMirror-foldgutter-folded {
  border: none;
  text-shadow: none;
  color: #5c6370 !important;
  background-color: transparent;
}
/* addon: selection/active-line.js */
.cm-s-OneDark .CodeMirror-activeline-background {background-color: rgba(153, 187, 255, 0.04);}
/* basic syntax */
.cm-s-OneDark .cm-header {color: #e06c75;}
.cm-s-OneDark .cm-quote {color: #5c6370;font-style: italic;}
.cm-s-OneDark .cm-negative {color: #e06c75;}
.cm-s-OneDark .cm-positive {color: #e06c75;}
.cm-s-OneDark .cm-strong {color: #d19a66;font-weight: bold;}
.cm-s-OneDark .cm-header .cm-strong {color: #d19a66;font-weight: bold;}
.cm-s-OneDark .cm-em {color: #c678dd;font-style: italic;}
.cm-s-OneDark .cm-header .cm-em {color: #c678dd;font-style: italic;}
.cm-s-OneDark .cm-tag {color: #e06c75;}
.cm-s-OneDark .cm-attribute {color: #d19a66;}
.cm-s-OneDark .cm-link {color: #98c379;border-bottom: solid 1px #98c379;}
.cm-s-OneDark .cm-builtin {color: #e06c75;}
.cm-s-OneDark .cm-keyword {color: #c678dd;}
.cm-s-OneDark .cm-def {color: #e5c07b;} /* original:  #d19a66; */
.cm-s-OneDark .cm-atom {color: #d19a66;}
.cm-s-OneDark .cm-number {color: #d19a66;}
.cm-s-OneDark .cm-property {color: #56b6c2;} /* original: #abb2bf */
.cm-s-OneDark .cm-qualifier {color: #d19a66;}
.cm-s-OneDark .cm-variable {color: #e06c75;}
.cm-s-OneDark .cm-string {color: #98c379;}
.cm-s-OneDark .cm-punctuation {color: #abb2bf;}
.cm-s-OneDark .cm-operator {color: #56b6c2;} /* original: #abb2bf */
.cm-s-OneDark .cm-meta {color: #abb2bf;}
.cm-s-OneDark .cm-bracket {color: #abb2bf;}
.cm-s-OneDark .cm-comment {color: #5c6370;font-style: italic;}
.cm-s-OneDark .cm-error {color: #e06c75;}
/* css syntax corrections */
.cm-s-OneDark .cm-m-css.cm-variable {color: #828997;}
.cm-s-OneDark .cm-m-css.cm-property  {color: #abb2bf;}
.cm-s-OneDark .cm-m-css.cm-atom  {color: #56b6c2;}
.cm-s-OneDark .cm-m-css.cm-builtin {color: #56b6c2;}
/* lua syntax corrections */
.cm-s-OneDark .cm-m-lua.cm-variable {color: #56b6c2;}