<template>
  <div id="app">
    <codemirror v-model="code"  :options="cmOptions"></codemirror>
    <select class="theme-select" @change="setTheme" v-model="cmOptions.theme">
      <option v-for="theme in themes" v-bind:value="theme.value" v-bind:key="theme.value" >
        {{ theme.text }}
      </option>
  </select>

  </div>
</template>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/mode/javascript/javascript.js'

import 'codemirror/lib/codemirror.css'

import './themes/Coda.css'
import './themes/OneDark.css'
import './themes/Jsfiddle.css'
import 'codemirror/theme/monokai.css'

let codeblock = `
  import { codemirror } from 'vue-codemirror'
  import 'codemirror/mode/javascript/javascript.js'

  import 'codemirror/lib/codemirror.css'

  import './themes/Coda.css'
  import './themes/OneDark.css'
  import './themes/Jsfiddle.css'

  export default {
    name: 'App',
    components: {
      codemirror
    },
    data () {
      return {
        cmOptions: {
          tabSize: 4,
          mode: 'text/javascript',
          theme: '',
          lineNumbers: true,
          line: true,
          smartIndent: true,
          styleSelectedText: true,
          styleActiveLine: true
        },
        themes: [
          { text: 'Coda', value: 'coda' },
          { text: 'One Dark', value: 'OneDark' },
          { text: 'Jsfiddle', value: 'jsfiddle' },
          { text: 'Monokai', value: 'monokai' },
        ],
        code: codeblock
      }
    },
    methods: {
      setTheme: function (event) {
        this.cmOptions.theme = event.srcElement.value
        localStorage.setItem('theme', JSON.stringify(this.cmOptions.theme))
      }
    },
    created () {
      let theme =  JSON.parse(localStorage.getItem('theme'))
      if (theme) {
        this.cmOptions.theme = theme
      } else {
        this.cmOptions.theme = 'coda' //default
      }
    }
  }
`

export default {
  name: 'App',
  components: {
    codemirror
  },
  data () {
    return {
      cmOptions: {
        tabSize: 4,
        mode: 'text/javascript',
        theme: '',
        lineNumbers: true,
        line: true,
        smartIndent: true,
        styleSelectedText: true,
        styleActiveLine: true
      },
      themes: [
        { text: 'Coda', value: 'coda' },
        { text: 'One Dark', value: 'OneDark' },
        { text: 'Jsfiddle', value: 'jsfiddle' },
        { text: 'Monokai', value: 'monokai' }
      ],
      code: codeblock
    }
  },
  methods: {
    setTheme: function (event) {
      this.cmOptions.theme = event.srcElement.value
      localStorage.setItem('theme', JSON.stringify(this.cmOptions.theme))
    }
  },
  created () {
    let theme = JSON.parse(localStorage.getItem('theme'))
    if (theme) {
      this.cmOptions.theme = theme
    } else {
      this.cmOptions.theme = 'coda' // default
    }
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.theme-select {
    background: white;
    position: absolute;
    right: 0;
    z-index: 99;
}

.CodeMirror {
  height: 100%;
  min-height: 100%;
  position: absolute;
  width: 100%;

}
</style>
